[submodule "src/ros2-lgsvl-bridge"]
	path = src/ros2-lgsvl-bridge
	url = https://github.com/lgsvl/ros2-lgsvl-bridge.git
[submodule "src/lgsvl-test-infra"]
	path = src/lgsvl-test-infra
	url = https://github.com/sisaha9/lgsvl-test-infra.git
[submodule "src/geometry2"]
	path = src/geometry2
	url = https://github.com/dawsonc/geometry2.git
